type default_hisi_hwservice, hwservice_manager_type;
type displayengine_hwservice, hwservice_manager_type;
type hal_ext_fingerprint_hwservice, hwservice_manager_type;
type shal_lineage_touch_hwservice, hwservice_manager_type;
