# Allow binder communication with displayengineserver
binder_call(system_server, displayengineserver)

# Allow binder communication with shal_lineage_touch_default
binder_call(system_server, shal_lineage_touch_default)

# Allow system_server to read and write to sysfs_touchscreen
allow system_server sysfs_touchscreen:file rw_file_perms;

# Allow system_server to find display_engine_service
allow system_server display_engine_service:service_manager find;

# Allow system_server to find shal_lineage_touch_hwservice
allow system_server shal_lineage_touch_hwservice:hwservice_manager find;
